/* Class Penting & Utilities */

p {
	line-height: 150%;
	font-size: 16px;
}

.tampil-atas {
	position: relative !important;
 	transform: translateY(0px) !important;
 	opacity: 1 !important;
}

.tampil-samping {
	position: relative !important;
 	transform: translateX(0px) !important;
 	opacity: 1 !important;
}

.biru {
	color: #60D1F6;
}

.abu-abu {
	color: #C6C6C6;
}

/* Class Utama  */

* {
	margin:  0;
	padding: 0;
	font-family: monospace;
	box-sizing: border-box;
}

body {
	background-color: #282B36;
}

/* Navigasi */

nav {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	background-color: #282B36;
	color: white;
	font-size: 1.5rem;
}

.nav-items li, .nav-logo li {
	list-style: none;
}

nav .nav-logo {
	margin-left: 3rem;
	display: flex;
	font-size: 2rem;
}

.nav-logo li a {
	text-decoration: none;
}

nav .nav-items {
	margin-right: 3rem;
	width: 30rem;
	display: flex;
	justify-content: space-between;
}

.nav-items li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.menu-toogle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
}

.menu-toogle input {
	position: absolute;
	width: 40px;
	height: 28px;
	margin-top: -5px;
	margin-left: -5px;
	opacity: 0;
}

.menu-toogle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
}

/* Jumbotron */

.jumbotron {
	height: auto;
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
	align-items: center;
	color: white;
}

.jumbotron-desc {
	width: 60%;
}

.jumbotron h1 {
	margin-top: 30px;
	font-size: 40px;
}

.jumbotron .jumbotron-desc p {
	margin: 2rem 0 3rem 0;
}

.learn {
	font-size: 1.2rem;
	text-decoration: none;
	color: #282B36;
	padding: 1rem;
	background-color: #60D1F6;
	border-radius: 1.5rem;
}

.play {
	font-size: 1.2rem;
	text-decoration: none;
	padding: 1rem;
	border: 1px solid #60D1F6;
	border-radius: 1.5rem;
}

.play:hover {
	background-color: #60D1F6;
	border: 1px solid #282B36;
	color: #282B36;
}

.jumbotron-img img {
	width: 18rem;
}

/* Tentang */

.tentang {
	margin: 11rem 0;
	display: flex;
	padding: 10rem 0;
	justify-content: space-evenly;
	align-items: center;
	background-color: #2F323C;
	color: white;
	height: auto;
	position: relative;
	transform: translateY(10rem);
	opacity: 0;
	transition: all 1s ease;
}

.tentang-desc {
	width: 50%;
}

.tentang-wibu {
	width: 25rem;
}

.tentang-desc h1 {
	font-size: 3rem;
}

.tentang-desc p {
	margin-top: 1rem;
	width: 100%;
}

.total {
 margin-top: 2rem;
 display: flex;
}

.total h1 {
	margin-top: 0.3rem;
	font-size: 2rem;
}

.pembatas {
	width: 1px;
    height: 50px;
    background-color:white;
    margin-left: 2rem;
    margin-top: 2rem;
}

.t-user {
	margin-left: 2rem;
}

/* Fitur */

.fitur {
	padding-bottom: 15%;
}

.fitur-desc {
	text-align: center;
	margin-bottom: 5rem;
	color: white;
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: all 0.7s ease;
}

.fitur-title {
	font-size: 3rem;
}

.fitur-items {
	color: white;
	display: flex;
	justify-content: space-evenly;
}

.fitur-items article {
	width: 27%;
	height: auto;
	padding-bottom: 7%;
	background-color: #3D404A;
	border-radius: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: all 0.7s ease;
}

.fitur-items article:hover {
	box-shadow: 5px 5px 5px #585A63;
	position: relative;
	transform: translateY(-10px) !important;
	transition:  0.5s;

}

.fitur-items article img {
	margin-top: 3rem;
	width: 5rem;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
/*	filter: invert(81%) sepia(58%) saturate(3337%) hue-rotate(171deg) brightness(109%) contrast(93%);*/
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(101%) contrast(103%);
}

.fitur-items article h1, .fitur-items article p {
	margin-top: 2rem;
}

.fitur-items h1 {
	font-size: 23px;
}

.fitur-items article p {
	padding: 0 50px ;
}

/* Donglod */

.donglod {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 10rem 0 5rem 0 ;
	position: relative;
	transform: translateY(10px);
	opacity: 0;
	transition: all 0.7s ease;
}

.donglod h1 {
		font-size: 3rem;
		color: white;
}

.donglod p {
	font-size: 14px;
	margin-top: 2rem;
}

/* Profil */

.profil {
	background-color: #3D404A;
	width: 90%;
	height: auto;
	padding:  5%;
	margin: auto;
	margin-top: 150px;
	border-radius: 0.5rem;
	margin-bottom: 100px;
	display: flex;
	position: relative;
	transform: translateY(-50px);
	opacity: 0;
	transition: all 0.7s ease;
}

.profil-utama {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	color: white;
}

.profil-desc {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.profil-img {
	width: 70px;
	border-radius: 50%;
	margin-right: 20px;
}

.profil-desc-1 {
	display: flex;
	align-items: center;
}

.profil-desc-2 {
	margin-top: 25px;
}

.profil-title {
	display: flex;
	flex-direction: column;
}

.name {
	font-size: 18px;
}


.github {
	font-size: 1.2rem;
	text-decoration: none;
	padding: 1rem;
	border: 1px solid #60D1F6;
	border-radius: 1.5rem;
	border-radius: 1rem;
	width: 100px;
	text-align: center;
	margin-top: 2rem;
}

.github:hover {
	background-color: #60D1F6;
	color: #282B36;

}

/* Footer  */

footer {
	background-color: #282B36;
	height: 8rem;
	text-align: center;
	line-height: 8rem;
	color: white;
	margin-top: 200px;
}

/*
*--------------------------------------------------------------------------------------
*----------------------------------- Media Query --------------------------------------
*--------------------------------------------------------------------------------------
*/

@media (max-width: 768px){
	.donglod {
		width: 70%;
	}
}

@media (max-width: 692px){

	nav .nav-items {
		position: absolute;
		top: -100%;
		height: 30vh;
		width: 90%;
		margin-right: 0;
		flex-direction: column;
		background-color: #282B36;
		transition: .5s;
		padding: 3% 5% 5% 0;
		border-radius: 5px;
		z-index: 1;
		transition: all 0.7s ease;
		transform: translateY(-5px);
		opacity: 0;
		z-index: -1;
	}

	nav .nav-items li {
		margin-top: 3px;
		margin-left: 3rem;
	}

	nav .active {
		top: 60px;
		display: flex;
		transition: 0.5s;
		transform: translateY(0px);
		opacity: 1;
		z-index: 1;
	}

	.menu-toogle {
		display: flex;
	}
}

@media (max-width: 640px){

	/* Jumbotron */

	.jumbotron  {
		flex-direction: column;
		text-align: left;
		margin-top: 20px;
		padding: 0 10% ;
	}

	.jumbotron-img {
		margin-top: 10rem;
		position: relative;
		transform: translateX(-50px);
		opacity: 0;
		transition: all 0.7s ease;
	}

	.jumbotron-desc {
		width: 100%;
	}

	/* Tentang */

	.tentang {
		flex-direction: column;
		padding: 0;
		align-items: center;
		justify-content: center;
		text-align: left;
		padding: 35% 0;
	}

	.tentang-desc {
		margin-top: 7rem;
		width: 85%;
	}

	.total {
		justify-content: start;
	}

	/* Fitur */

	.fitur-desc {
		text-align: center;
		margin-bottom: 5rem;
		padding: 10%;
	}

	.fitur-items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fitur-items article {
		width: 70%;
		margin-top: 5rem;
	}

}



@media (max-width:  425px){

	p {
		line-height: 150%;
		font-size: 14px;
	}

	nav .nav-logo {
		margin-left: 0;
	}

	nav .nav-items li {
		margin-left: 0;

	}	

	.tentang-desc {
		margin-top: 2.9rem;
	}

	.pembatas {
	    margin-top: 1.5rem;
	}

	.donglod {
		width: 90%;
		padding: 10rem 0 5rem 0 ;
	}

	.profil {
		padding: 7.5%;

	}

	.profil-utama {
		text-align: left;
	}

	.fitur-title {
		margin-top: 10rem;
	}

}

@media (max-width:  386px){

	.fitur-items article {
		padding-bottom: 10%;
	}

}

@media (max-width:  342px) {

	.total  h1 {
		font-size: 1.9rem;
	}

	.tentang-wibu {
		width: 23rem;
	}

}

