*{
	margin:  0;
	padding: 0;
	font-family: monospace;
}

nav {
	background-color: red;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	color: white;
}

nav .nav-items {
	width: 30rem;
	display: flex;
	justify-content: space-between;
}

nav .nav-logo {
	display: flex;
}

.jumbotron {
	background-color: blue;
	height: 29rem;
	display: flex;
	flex-direction: column;
	padding: 130px;
	color: white;
}

.jumbotron h1 {
	margin-top: 30px;
	font-size: 3rem;
}

.jumbotron a {
	margin-top: 30px;
	text-decoration: none;
	color: white;
	background-color: red;
	width: 10rem;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 5%;
}

.about {
	margin: 11rem 0;
	display: flex;
	padding: 10rem;
	background-color: gray;
}

.about-desc {
	margin-left: 15rem;
	margin-top: 8rem;
}

.about-desc h1 {
	font-size: 3rem;
}

.about-idk {
	margin-top: 20px;
	background-color: red;
	width: 30rem;
	height: 70px;
}


.feature-title {
	text-align: center;
}

.feature-items {
	display: flex;
	padding: 6rem;
}

.feature-items div{
	margin-left: 3rem;
	height: 25rem;
	background-color: red;
	border-radius: 10%;
	text-align: center;

}

.feature-items div img {
	margin-top: 3rem;
}


.contact {
	background-color: skyblue;
	display: flex;
	padding: 10rem;
}

.contact-us {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.contact-us h1{
	font-size: 3rem;
}

.contact-us ul li {
	list-style: none;
	margin-top: 3rem;
}
footer {
	background-color: red;
	height: 8rem;
	text-align: center;
	line-height: 8rem;
	color: white;
}